@import url(nav.css);
@import url(endNav.css);
.main-text{
    text-align: right;
    padding-right: 100px;
    font-size: x-large;
    font-family: "Poppins", sans-serif;
}
.nh2{
    color: orange;
    font-weight: bold;
    text-decoration: underline;
}

.img img{ 
    position: absolute;
    width: 800px;
    height: 500px;
    margin-left: 300px;
    margin-top: -300px;
}
.img-2{
padding-top: 350px;
padding-left: 600px;
}
.box-1{
    margin-top: -350px;
    margin-left: 250px;
    background-color: rgba(165, 42, 42, 0.397);
    width: 600px;
    height: 600px;
}
.box-2{
    margin-top: -250px;
    margin-left: 850px;
    background-color: rgba(165, 42, 42, 0.226);
    width: 600px;
    height: 600px;
}
