@import url(nav.css);
@import url(endNav.css);
.main{
    text-align: center;
}
.m-text{
    font-family: "Poppins", sans-serif;
}
.uno{
   width: 500px;
   height: 40px;
   margin-bottom: 25px;
   border-radius: 10px;
   font-family: "Poppins", sans-serif;
}
.nh4{
    color: orange;
    font-weight: bold;
    text-decoration: underline;
}
.dos{
     width: 500px;
    height: 100px;
    margin-bottom: 25px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}
.send{
    background-color: red;
    color: white;
    border-radius: 50px;  
    width: 150px;
    height: 50px;
    font-family: "Poppins", sans-serif;
}
form{
    gap: 100px;
}
.main{
    min-height: 42vh;
}